<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
    <title>Weather App</title>
   
</head>
<body>
{{>header}}

    <!-- maibn header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                 <div class="row">
                     <!-- Left-side -->
                     <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/404.png" alt="about" class="img-fluid">
                        </figure>
                     </div>
                     <!-- Right Side -->
                     <div class="col-md-6 col-12 main_header_left">
                         <p> Page Not Found </p>
                         <h1>Welcome to Avinash World <span class="text_clr">😎</span></h1>
                         <a href="/"><button>Go Home</button></a>
                     </div>
                     
                 </div>
            </div>
        </div>
    </div></div>
<!-- footer -->
{{>footer}}
</body>
</html>